<!-- app/views/user_mailer/send_email.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <style>
    /* Your email styles go here */
  </style>
</head>
<body>
  <h1>Email Subject: <%= @subject %></h1>

  <p>
    Dear <%= @recipient_name %>,
  </p>

  <p>
Gmail Test App  </p>

  <p>
    Sincerely,<br>
    Aman Ahirwar
  </p>
</body>
</html>
